

@model Employee

@inject IDepartmentRepository Repo_Departments

@{
    var departments = new SelectList(Repo_Departments.GetAll(), nameof(Department.ID), nameof(Department.Name));
}


<div class="form-group">
    <label class="col-form-label" asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
    <span asp-validation-for="Salary" class="text-danger"></span>
</div>


@* <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div> *@

<div class="form-group">
    <label class="col-form-label" asp-for="Gender"></label>
    <input asp-for="Gender" class="form-control" />
    <span asp-validation-for="Gender" class="text-danger"></span>
</div>

<div class="form-group">
    <input asp-for="IsActive" class="form-check-input" />
    <label class="col-form-label" asp-for="IsActive"></label>
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>

@* <div class="form-group">
        <label class="col-form-label" asp-for="EmpType"></label>
        <input asp-for="EmpType" class="form-control" />
        <span asp-validation-for="EmpType" class="text-danger"></span>
    </div> *@

<div class="form-group">
    <label class="col-form-label" asp-for="HireDate"></label>
    <input asp-for="HireDate" class="form-control" />
    <span asp-validation-for="HireDate" class="text-danger"></span>
</div>

<div>
    <label class="col-form-label" asp-for="Department_Nav"> </label>
    <select class="form-control" asp-for="Department_ID" asp-items="@departments">
        <option value="@null"> -- Select Department -- </option>
    </select>
</div>