@model Department


@{
    ViewData["Title"] = "Delete Department";
}

<h1>Are You Sure To Delete This Employee?</h1>

<br/>

<form asp-action="Delete">

    <partial name="PartialViews/DeleteDetailsDepartmentPartial" />


    <input type="submit" value="Delete" class="btn btn-danger"/> 
    <a asp-controller="Employee" asp-action="Index" class="btn btn-dark">Cancel</a>

</form>

